body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: Helvetica;
}

/* Header */

header {
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  height: 82px;
  top: 0px;
  width: 100%;
  padding: 15px;
}

.user-nav {
  z-index: 1;
  position: relative;
  float: right;
  margin-right: 29px;
  background-color: white;
  background:rgba(255,255,255,0.2);
  width: 140px;
  height: 30px;
  border-radius: 10px;
}

.logout a {
  z-index: 2;
  position: relative;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 12;
}

.settings a {
  z-index: 2;
  position: relative;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 12;
}

header img {
  
  position: fixed;
  width: 85px;
  height: 85px; 
  left: 50%;
  margin-left: -43px;
}

/*Content*/

.content {
  background-color: #FAEBD7;
  background:rgba(255,255,255,0.4);
  height: 180px;
  width: 65%;
  margin: 0 auto;
  padding: 80px;
  border-radius: 30px;
}

.nav-bar {
  margin-top: 30px;
}

.nav-bar img {
	width: 80px;
	height: 30px;
  margin-right: 6px;
  margin-left: 6px;
  opacity: 0.5;
}

.nav-bar img:hover {
  opacity: 1;
}

.rating-box {
  margin-top: 200px;
}
/* Input Types */

