<div>
<select gender="Gender">
	<option>Male</option>
	<option>Female</option>
	<option>No answer</option>
</select>
</div>

<div>
<select occupation="Occupation">
	<option>Accounting</option>
	<option>Admin & Clerical</option>
	<option>Automotive</option>
	<option>Banking</option>
	<option>Biotech</option>
	<option>Broadcast - Journalism</option>
	<option>Business Development</option>
	<option>Construction</option>
	<option>Consultant</option>
	<option>Customer Service</option>
	<option>Design</option>
	<option>Distribution - Shipping</option>
	<option>Education - Teaching</option>
	<option>Engineering</option>
	<option>Entry Level - New Grad</option>
	<option>Executive</option>
	<option>Facilities</option>
	<option>Finance</option>
	<option>Franchise</option>
	<option>General Business</option>
	<option>General Labor</option>
	<option>Government</option>
	<option>Grocery</option>
	<option>Health Care</option>
	<option>Hotel - Hospitality</option>
	<option>Human Resources</option>
	<option>Installation</option>
	<option>Information Technology</option>
	<option>Installation - Maintanace - Repair</option>
	<option>Insurance</option>
	<option>Inventory</option>
	<option>Legal</option>
	<option>Legal Admin</option>
	<option>Management</option>
	<option>Manufacturing</option>
	<option>Marketing</option>
	<option>Media - Journalism - Newspaper</option>
	<option>Nonprofit - Social Services</option>
	<option>Nurse</option>
	<option>Pharmaceutical</option>
	<option>Professional Services</option>
	<option>Purchasing - Procurement</option>
	<option>QA - Quality Control</option>
	<option>Real Estate</option>
	<option>Research</option>
	<option>Restaurant - Food Service</option>
	<option>Retail</option>
	<option>Sales</option>
	<option>Science</option>
	<option>Skilled Labor - Trades</option>
	<option>Strategy - Planning</option>
	<option>Supply Chain</option>
	<option>Telecommunications</option>
	<option>Training</option>
	<option>Transportation</option>
	<option>Warehouse</option>
	<option>Other</option>
</select>
</div>

<div>
<select income="Annual Income">
	<option>-$10,0000/year</option>
	<option>$10,000-$20,000/year</option>
	<option>$20,000-$30,000/year</option>
	<option>$30,000-$40,000/year</option>
	<option>$40,000-$50,000/year</option>
	<option>$50,000-$60,000/year</option>
	<option>$60,000-$70,000/year</option>
	<option>$70,000-$80,000/year</option>
	<option>$80,000-$90,000/year</option>
	<option>$100,000-$120,000/year</option>
	<option>$120,000-$140,000/year</option>
	<option>$140,000-$160,000/year</option>
	<option>$160,000-$180,000/year</option>
	<option>$200,000-$250,000/year</option>
	<option>$250,000+/year</option>
	<option>No answer</option>
</select>
</div>

<div>
<select religion="Religion">
	<option>Christian</option>
	<option>Jewish</option>
	<option>Muslim</option>
	<option>Hindu</option>
	<option>Atheist</option>
	<option>Agnostic</option>
	<option>Chinese Traditional</option>
	<option>Buddhist</option>
	<option>Jewish</option>
</select>
</div>