
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/launch.css">
	<title>MoodKiwi</title>
</head>
<body>
<a href="http://i.imgur.com/I7O3Zsu.png"></a>

<button><a href="/signup">SIGN UP</a></button>

<button><a href="/login">login</a></button>

<footer>
	<small>© Blimp, inc. 2014</small>
</footer>

</body>
</html>