<head>
	<title>How do we feel?</title>
	<h3>Let's find out.</h3>
</head>

<body>

<div class="container">
  <div class="logo">
    <a href="http://i.imgur.com/I7O3Zsu.png" /></a>
  </div>

  <div class="signup">
    <button><a href="/signup">Sign Up</a></button>
  </div>
  <br>
  <div class="login">
    <a href="/login">Already have an account?</a>
  </div>

</div>

<footer>
<small>Copyright MoodKiwi, Inc.  2014</small>
</footer>

</body>